{% extends "__layout.twig" %}

{% block content %}
    <div class="container mt-2 mb-2">
        <!-- Заголовок с названием системы -->
        <h1>{{ system.title }}</h1>

        <!-- Навигация -->
        <div class="container mt-2 mb-2 text-start">
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <!-- Добавляем условие для определения активности кнопки -->
                    <a class="nav-link {{ active_page == 'image' ? 'active' : '' }}" href="{{ base_url ~ '/os_list/' ~ system.id ~ '/image' }}">Картинки</a>
                </li>
                <li class="nav-item ms-2">
                    <a class="nav-link {{ active_page == 'info' ? 'active' : '' }}" href="{{ base_url ~ '/os_list/' ~ system.id ~ '/info' }}">Описание</a>
                </li>
            </ul>
        </div>

        <!-- Контента на этой странице нет, только навигация -->
    </div>
{% endblock %}
