{% extends "__layout.twig" %}
{% import 'macros.twig' as macros %}

{% block navigation %}
<div class="main-container" style="display: grid; grid-template-columns: 1fr 250px; gap: 40px; align-items: start;">

    <!-- Левая часть -->
    <div class="flex-grow-1 container mt-2 mb-2" style="flex: 1;">
        </ul>
        {% if my_session_message %}
        <script>
            const url = new URL(window.location.href);
            const message = url.searchParams.get("message");
            if (message) {
                const cleanUrl = window.location.pathname;
                history.replaceState(null, "", cleanUrl);
            }
        </script>
        {% endif %}


        <div style="border: 1px solid #ccc; padding: 10px; border-radius: 5px; margin-bottom: 15px;">
            <strong>Последние сообщения:</strong>
            <ul>
                {% for m in messages|slice(-10, 10) %}
                <li>{{ m }}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="container mt-2 mb-2">
            <p class="description-text">{{ description }}</p>
        </div>

        <ul class="nav nav-pills">
            <li class="nav-item">
                {{ macros.btn("Картинки", '/os_list/' ~ id ~ '?show=image', active_page == 'image') }}
            </li>
            <li class="nav-item ms-2">
                {{ macros.btn("Описание", '/os_list/' ~ id ~ '?show=info', active_page == 'info') }}
            </li>
        </ul>
    </div>

    <!-- Правая часть — история -->
    <div style="position: sticky; top: 0;">
        <div style="background-color: #f5f5ff; padding: 10px; border-radius: 5px; word-break: break-word;">
            <strong>Последние страницы которые вы посетили:</strong>
            <ul style="padding-left: 15px;">
                {% for url in history|reverse %}
                <li>
                    <a href="{{ url }}" style="text-decoration: none; word-break: break-word; overflow-wrap: anywhere;">
                        {{ url  }}

                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
{% endblock %}