{% extends "__layout.twig" %}
{% import 'macros.twig' as macros %}

{% block content %}

<div class="container mt-2 mb-2">
    <div class="d-flex justify-content-center flex-wrap gap-3">
        {% for system in os_list %}
            <div class="card">
                <img src="{{ system.image }}" class="card-img-top" alt="{{ system.title }}">
                <div class="card-body text-center">
                    <h5 class="card-title">
                        {{ macros.btn(system.title, '/os_list/' ~ system.id, true, "light") }}
                    </h5>
                    <div class="btn-container">
                        {{ macros.btn("Картинки", '/os_list/' ~ system.id ~ '?show=image', false) }}
                        {{ macros.btn("Описание", '/os_list/' ~ system.id ~ '?show=info', false) }}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
