{% extends "__layout.twig" %}
{% import 'macros.twig' as macros %}

{% block content %}

<div class="d-flex justify-content-center flex-wrap gap-3">

    {% for system in os_list %}
    <div class="card position-relative" style="width: 18rem;"> {# фиксированная ширина — чтобы они не растягивались на
        всю строку #}

        <!-- Кнопка закрытия -->
        <div class="position-absolute" style="right: 4px; top: 4px; z-index: 1;">
            <form action="/os_list/{{ system.id }}/delete" method="POST">
                <button type="submit" class="btn btn-danger btn-sm">
                    <i class="fas fa-times"></i>
                </button>
            </form>
        </div>

        <!-- Кнопка обновления -->
        <div class="position-absolute" style="right: 30px; top: 4px; z-index: 1; margin-right: 5px;">
            <form action="/os_list/{{ system.id }}/edit" method="GET">
                <button type="submit" class="btn btn-info btn-sm">
                    <i class="fas fa-edit"></i>
                </button>
            </form>
        </div>



        <img src="{{ system.image }}" class="card-img-top" alt="{{ system.title }}">
        <div class="card-body text-center">
            <h5 class="card-title">
                {{ macros.btn(system.title, '/os_list/' ~ system.id, true, "light") }}
            </h5>
            <div class="btn-container">
                {{ macros.btn("Картинки", '/os_list/' ~ system.id ~ '?show=image', false) }}
                {{ macros.btn("Описание", '/os_list/' ~ system.id ~ '?show=info', false) }}
            </div>
        </div>
    </div>
    {% endfor %}

</div>

{% endblock %}